body {
  background-color: beige;
}
h1 {
  text-align: center;
}

p {
  text-align: center;
  padding: 15px;
}

a {
  padding: 20px;
}

img {
  border-radius: 5px;
  width: 300px;
}

.image {
  text-align: center;
  padding: 20px;
}

.links {
  text-align: center;
}
